@page "/"

<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>





<div class="container">
    <div class="row">
        @for (int i = 0; i < shuffeledAnimals.Count; i++)
        {
            string animal = shuffeledAnimals[i];
            string uniqueDescription = $"Button #{i}";

            <div class="col-3">
                <button type="button" class="btn btn-outline-dark" @onclick="@(() => ButtonClick(animal, uniqueDescription))">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>

</div>


@code {
    List<string> animalEmoji = new List<string>()
{
        "🐈", "🐈",
        "🐶", "🐶",
        "🦁", "🦁",
        "🐘", "🐘",
        "🐒", "🐒",
        "🐼", "🐼",
        "🐬", "🐬",
        "🦝", "🦝"
    };

    List<string> shuffeledAnimals = new List<string>();




    protected override void OnInitialized()
    {
        setUpGame();
    }

    Random random = new Random();

    private void setUpGame()
    {
        shuffeledAnimals = animalEmoji.OrderBy(item => random.Next()).ToList();
    }

    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;

    private void ButtonClick(string animal, string description)
    {
        if (lastAnimalFound == string.Empty)
        {
            //First selection, just remember it.
            lastAnimalFound = animal;
            lastDescription = description;

        }
        else if (lastAnimalFound == animal && lastDescription != description)
        {
            //Match found! reset for next pair
            lastAnimalFound = string.Empty;

            //Replace the found match with empty strings
            shuffeledAnimals = shuffeledAnimals.Select(a => a.Replace(animal, string.Empty)).ToList();
        }
        else
        {
            //User selected a second animal that doesn't match. reset
            lastAnimalFound = string.Empty;
        }
    }

}